<div class="row box p-4">
  <div class="col-3">

      <a  class="fs-6"> MOBILE PHONES</a>


    <hr>
    <div class="list-group">
      <a href="">Smartphones</a>
      <a href="">Cell Phones</a>


  </div>
      <a  class="fs-6"> TABLETS </a>
    <hr>
    <div class="list-group">
      <a href="">iPad Tablets</a>
      <a href="">Tablet Accessories</a>
      <a href="">Bags & Casses</a>

  </div>

  </div>


  <div class="col-4">

    <a  class="fs-6"> MOBILE ACCESSORIES</a>
    <hr>
    <div class="list-group">
      <a href="">Phone Casses</a>
      <a href="">Screen Protectors</a>
      <a href="">Blutooth Headsets</a>
      <a href="">Corded Headsets</a>
      <a href="">Cables</a>
      <a href="">Power Banks</a>
      <a href="">Smart Watches</a>
      <a href="">Memory Cards</a>
      <a href="">Chargers</a>
      <a href="">Smart Watches</a>


  </div>

  </div>

  <div class="col-3">

    <a class="fs-6">TOP BRANDS </a>
    <hr>
    <div class="list-group">
   <a href="">Realme</a>
   <a href="">Samsung</a>
   <a href="">Hwawei</a>
   <a href="">Xiaomi</a>
   <a href="">Lenovo</a>
   <a href="">Tecno</a>
   <a href="">Infinix</a>



  </div>
</div>





