<footer class="bg-dark text-white">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-5">
      <img src="assets/image/lg-jumia.png" class="img-responsive py-0" style="height: 40px; width: 100px;
      " alt="">
    </div>
    <div class="col-md-6 p-4">
<h6>NEW TO JUMIA?</h6>
<p>Subscribe to our newsletter to get updates on our latest offers!</p>
<form >
  <div class="d-flex">
    <input type="email" placeholder="Enter E-mail Address" class="form-control">
    <button class="btn btn-warning text-white bg-dark mx-1">Female</button>
    <button class="btn btn-warning text-white bg-dark">Male</button>
  </div>

</form>
    </div>
    <div class="col-md-4 p-4">
      <div class="d-flex">
        <img src="assets/image/jumia-icon.png.webp" style="height: 50px;" alt="">
        <div>
          <h6>DOWNLOAD JUMIA FREE APP</h6>
          <p>Get access to exclusive offers!</p>
        </div>

      </div>
      <div class="bg-dark">
        <img src="assets/image/downloadappstore.png" style="height: 50px;" alt="">
        <img src="assets/image/google-play-logo-1518163351.png" style="height: 50px;" alt="">
      </div>

    </div>
  </div>
</div>
<div class="container-fluid p-4" style="background-color: rgb(32, 31, 31);">
<div class="row">
  <div class="col-md-3">
<h6>LET US HELP YOU</h6>
<div class=" mb-3">
  <a  routerLink="help" routerLinkActive="active">Help Center</a>
  <a   routerLink="contact" routerLinkActive="active">Contact us</a>
  <a  href="">How to buy on Jumia?</a>
  <a  href="">How to pay on Jumia?</a>
  <a  href="">Delivery timelines</a>
  <a  href="">Report a Product</a>
</div>


<h6>JOIN US ON</h6>

<div class="social d-flex mt-1 ">

  <a href="#" target="blank">
       <i class="fab fa-facebook fa-2x text-white mx-2"></i>
      </a>
  <a href="#"  target="blank">
      <i class="fab fa-twitter fa-2x text-white mx-2"></i>
    </a>
  <a href="#"  target="blank">
      <i class="fab fa-instagram fa-2x"></i> </a>
  <a href="#" target="blank" >
     <i class="fab fa-youtube fa-2x text-white mx-2"></i>
    </a>







</div>
  </div>
  <div class="col-md-3">
<h6>
  ABOUT JUMIA EGYPT
</h6>
<div class=" mb-3">
  <a  href="">Jumia Careers</a>
  <a  href="">Terms and Conditions</a>
  <a  href="">Privacy Policy</a>
  <a  href="">Jumia Express</a>
  <a  href="">Jumia Mall</a>
  <a  href="">Jumia Logistics Services</a>
</div>
<h6>

PAYMENT METHODS
</h6>

<div class="social d-flex mt-1 ">

  <a href="#" target="blank">
   <img src="assets/image/income.png" height="30px" class="my-2 " style="background: white;" alt="">
      </a>
  <a href="#"  target="blank">
    <img src="assets/image/visa.png" height="30px" class="m-2" style="background: white;" alt="">
    </a>
  <a href="#"  target="blank">
    <img src="assets/image/fawry-en1.png" height="40px"  alt="">
  </a>








</div>
  </div>
  <div class="col-md-3">
    <h6>
      MAKE MONEY WITH JUMIA
    </h6>

    <div class=" mb-3">
      <a  href="">Sell on Jumia
      </a>
      <a  href="">Become a Logistics Service Partner</a>
      <a  href="">Become a Sales Consultant (J-Force )</a>
  </div>
  </div>
  <div class="col-md-3">
    <h6>
      JUMIA INTERNATIONAL
    </h6>
<div class="d-flex">
  <div class=" mb-3">
    <a  href="">Algeria
    </a>
    <a  href="">Morocco</a>
    <a  href="">Ghana</a>
    <a  href="">Kenya</a>
    <a  href="">Ivory </a>
    <a  href="">Coast </a>
  </div>
  <div class=" m-3">
  <a  href="">Nigeria </a>
  <a  href="">Senegal</a>
  <a  href="">Tunisia</a>
  <a  href="">Uganda </a>
</div>
</div>

  </div>
</div>
</div>
</footer>
