<section>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <img src="assets/image/contactez-vous_-12.jpg" class="img-fluid" alt="">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p class="text my-3">For your payment security DO NOT share your card details with anyone. For confirmation purposes, only the first 6 numbers and last 4 numbers of the card can be shared. NEVER share your expiry or CVV number as per the picture below.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">

        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/image/Checked-Card.png" height="200px" alt="">
          <img src="assets/image/Wrong-Card.png" height="200px" alt="">


        </div>
        <h3 class="text-warning my-2 text-center">How can we help you ?</h3>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="d-grid">
              <button class="btn  btn-warning my-3"> CALL US</button>
            </div>

          </div>
        </div>
        <h3 class="text-warning my-2 text-center">Need help placing an order?</h3>
<div class="content">
  <p>If you have trouble placing your order, please call us on the following number:</p>
  <h3>Call Us to Place an Order: 15204</h3>
  <h6>Opening hours: everyday from 10:00 a.m. to 10:00 p.m.</h6>
</div>
      </div>





    </div>
  </div>
</section>

