
<div class="row  box  p-3">
  <div class="col-3">

      <a  class="fs-6"> HOME & KITCHEN </a>


    <hr>
    <div class="list-group">
      <a href="">Bedding</a>
      <a href="">Bath</a>
      <a href=""> Storage & Organizations</a>
      <a href=""> Kitchen & Dining</a>
      <a href=""> Furniture</a>
      <a href=""> Home Decor</a>
      <a href="">   Lighting</a>

  </div>
      <a  class="fs-6"> TOOLS & HOME IMPROVEMENT </a>


    <hr>
    <div class="list-group">
      <a href="">Building Supplies</a>
      <a href="">Electrical</a>
      <a href=""> Hardware</a>
      <a href=""> Light Bulbs</a>
      <a href="">
        Power & Hand Tools</a>
      <a href="">Painting Supplies & Wall Treatments</a>
      <a href="">   Lighting</a>

  </div>
  </div>







  <div class="col-4">

    <a class="fs-6"> COOKING APPLIANCES </a>
    <hr>
    <div class="list-group">
      <a href="">
        Cookers</a>
      <a href="">
        Cook Top</a>

  </div>
    <a class="fs-6"> OFFICE PRODUCTS </a>
    <hr>
    <div class="list-group">
      <a href="">
        Office Electronics</a>
      <a href="">
        Office Furniture & Lighting</a>

  </div>
  </div>



  <div class="col-3">

    <a class="fs-6">SMALL APPLIANCES </a>
    <hr>
    <div class="list-group">
   <a href="">Blenders</a>
   <a href="">Mixers</a>
   <a href="">Ovens & Toasters</a>
   <a href="">Microwave Ovens</a>
   <a href="">Food Processors</a>
   <a href="">Deep Fryers</a>

   <a href="">Coffee, Tea & Espresso Appliances</a>
   <a href="">HEATING, COOLING & AIR QUALITY</a>
   <a href="">Air Conditioners</a>

   <a href="">Space Heaters</a>
   <a href="">APPLIANCES</a>
   <a href="">Household Fans</a>
   <a href="">Dishwashers</a>
   <a href="">Freezers</a>
   <a href="">Refrigerators</a>
   <a href="">Washers & Dryers</a>
  </div>
  </div>
</div>








