
<h3>Vouchers</h3>
<hr>
<div class="d-flex">
  <a class="mx-3 order active">Active</a>
  <a class="order">Inactive</a>
</div>
<hr class="hr-1">
<div class="row justify-content-center">
<div class="col-md-2  mt-5">
  <img src="assets/image/voucher.de9d55af.svg" class="img-fluid" alt="">


</div>
</div>
<div class="row justify-content-center ">
<div class="col-md-8 ">
<p class="text-center mt-3">You currently have no available Jumia Credit</p>
<p class="text-center ">All your available Jumia credit and coupons will be displayed here</p>
<div class="d-grid mb-5">
<a class="btn btn-warning text-center" style="margin: auto;"  routerLink=""> Continue Shopping</a>
     </div>
     </div>

    </div>

