<div class="row box p-3">
  <div class="col-3">

      <a  class="fs-6"> BEAUTY & PERSONAL CARE </a>


    <hr>
    <div class="list-group">
      <a href="">Skin Care</a>
      <a href="">Feminine Care</a>
      <a href="">Shave & Hair Removal</a>

  </div>
      <a  class="fs-6"> HAIR CARE </a>
    <hr>
    <div class="list-group">
      <a href="">Styling Tools & Appliances</a>
      <a href="">Styling Products</a>
      <a href="">Shampoo</a>

  </div>
      <a  class="fs-6"> FRAGRANCE</a>
    <hr>
    <div class="list-group">
      <a href="">Women</a>
      <a href="">Men</a>


  </div>
  </div>


  <div class="col-4">

    <a class="fs-6">MAKEUP</a>
    <hr>
    <div class="list-group">
      <a href="">Foundation</a>
      <a href="">Powder</a>
      <a href="">Concealers & Neutralizers</a>
      <a href="">Lipstick</a>
      <a href="">Lip Liners</a>
      <a href="">Lip Glosses</a>
      <a href="">Mascara</a>
      <a href="">Eyeliner</a>
   <a href="">Eyeshadow</a>

  </div>
    <a class="fs-6">HEALTH CARE</a>
    <hr>
    <div class="list-group">
      <a href="">Wellness & Relaxation</a>
      <a href="">Sexual Wellness</a>
      <a href="">Medical Supplies & Equipment</a>

  </div>
  </div>

  <div class="col-3">

    <a class="fs-6">TOP BRANDS </a>
    <hr>
    <div class="list-group">
   <a href="">Braun</a>
   <a href="">Loreal</a>
   <a href="">Durex</a>
   <a href="">Maybelline</a>
   <a href="">Veet</a>
   <a href="">The Baby Shop</a>
   <a href="">Nivea</a>
   <a href="">P&G</a>
   <a href="">Jonson</a>
   <a href="">GSK</a>


  </div>
</div>




