





<div class="row  box  p-3">
  <div class="col-3">
      <a  class="fs-6">  PLAYSTATION 5 </a>
    <hr>
    <div class="list-group">
      <a href="">Consoles</a>
      <a href="">Games</a>
      <a href=""> Controllers</a>
      <a href=""> Cards</a>
      <a href="">Accessories</a>
  </div>
      <a  class="fs-6"> PLAYSTATION 4</a>
      <hr>
      <div class="list-group">
        <a href=""> PS4</a>
        <a href=""> PS4 Games</a>
        <a href="">  PS4 Controllers</a>
        <a href="">  Cards</a>
        <a href="">  PS4 Cases</a>
        <a href="">  Accessories</a>
    </div>
  </div>
  <div class="col-4">
    <a class="fs-6"> XBOX</a>
    <hr>
    <div class="list-group">
      <a href="">  Games</a>
      <a href="">  Controllers</a>
      <a href="">Accessories</a>
      <a href=""> Nintendo Switch</a>
  </div>
    <a class="fs-6"> PC GAMING </a>
    <hr>
    <div class="list-group">
      <a href=""> Gaming Laptops</a>
      <a href=""> Headsets</a>
      <a href="">Keyboards</a>
      <a href="">Mouse</a>
      <a href="">Gaming Chairs</a>
      <a href="">Monitors</a>
  </div>
  </div>
</div>







