
<div class="row  box p-3">
  <div class="col-3">

      <a  class="fs-6">  LAPTOPS </a>


    <hr>
    <div class="list-group">
      <a href="">2 in 1 Laptops</a>
      <a href="">Gaming Laptops</a>
      <a href=""> Traditional Laptops</a>
      <a href=""> Macbooks</a>
      <a href=""> Furniture</a>
      <a href=""> Home Decor</a>
      <a href="">   Lighting</a>

  </div>
      <a  class="fs-6"> DATA STORAGE </a>
      <hr>
      <div class="list-group">
        <a href="">USB Flash Drives</a>
        <a href="">External Hard Drives</a>
        <a href=""> Hardware</a>


    </div>


    <a class="fs-6">TOP BRANDS</a>
    <hr>
    <div class="list-group">
   <a href="">HP</a>
   <a href="">  Lenovo</a>
   <a href="">Dell</a>
   <a href="">Apple</a>


  </div>












  </div>

  <div class="col-4">

    <a class="fs-6"> COMPUTERS & ACCESSORIES</a>
    <hr>
    <div class="list-group">
      <a href="">
        Laptop Accessories</a>
      <a href="">
        Desktops</a>
      <a href="">
        Monitors</a>
      <a href="">
        Desktops</a>
      <a href="">
        Printers</a>
      <a href="">
        Scanners</a>

  </div>
    <a class="fs-6"> COMPUTER COMPONENTS </a>
    <hr>
    <div class="list-group">
      <a href="">
        Internal Hard Drives</a>
      <a href="">
        Graphics Cards</a>
      <a href="">
        Fans & Cooling</a>


  </div>
  </div>









  <div class="col-3">

    <a class="fs-6">COMPUTER ACCESSORIES </a>
    <hr>
    <div class="list-group">
   <a href="">Audio & Video Accessories</a>
   <a href="">  Computer Cable Adapters</a>
   <a href="">  Keyboards, Mice & Accessories</a>
   <a href=""> Printer Ink & Toner</a>
   <a href=""> USP Gadgets</a>

  </div>

    <a class="fs-6">NETWORKING PRODUCTS </a>
    <hr>
    <div class="list-group">
   <a href="">Routers</a>
   <a href="">  Computer Cable Adapters</a>
   <a href="">  Wireless Access Points</a>


  </div>


  </div>
</div>






