<div class="row  box p-3">
  <div class="col-3">

      <a  class="fs-6"> DIAPERING </a>


    <hr>
    <div class="list-group">
      <a href="">Diapers</a>
      <a href="">Baby Wipes</a>
      <a href="">Diaper Bages</a>

  </div>
      <a  class="fs-6"> BABY FEEDING </a>


    <hr>
    <div class="list-group">
      <a href="">Bottle Feeding</a>
      <a href="">Breast Feeding</a>
      <a href="">Baby Food</a>

  </div>
      <a  class="fs-6"> BATH & SKIN CARE </a>


    <hr>
    <div class="list-group">
      <a href="">Baby Creams & Lotions</a>
      <a href="">Baby Shamboo</a>
      <a href="">Baby Soaps</a>
      <a href="">Baby Conditioners</a>

  </div>
  </div>


  <div class="col-4">

    <a class="fs-6">BABY SAFETY </a>
    <hr>
    <div class="list-group">
      <a href="">Rails & Rails Guards</a>
      <a href="">Kitchen Safety</a>
      <a href="">Monitors</a>

  </div>
    <a class="fs-6">ACCESSORIES </a>
    <hr>
    <div class="list-group">
      <a href="">Strollers Accessories</a>
      <a href="">Stroller</a>


  </div>
    <a class="fs-6">Gear </a>
    <hr>
    <div class="list-group">
      <a href="">Swings:Jumpers & Bouncers</a>
      <a href="">Bachpacks & Carriers</a>


  </div>
  </div>

  <div class="col-3">

    <a class="fs-6">BABY & TODDLER TOYS</a>
    <hr>
    <div class="list-group">
   <a href="">Toy Gift Sets</a>
   <a href="">Blocks</a>

  </div>

  <a class="fs-6">TOY & GAMES</a>
   <hr>

   <div class="list-group">
   <a href="">Doll & Accessories</a>
   <a href="">Learning & Education</a>
   <a href="">Action Figures & Statues</a>
   <a href="">Learning & Education</a>
   <a href="">Arts & Crafts</a>
   <a href="">Puzzeles </a>
   <a href="">Toy Remote Control </a>

  </div>

  </div>
</div>




