
    <h3 >Inbox Messages</h3>
    <hr>

  <div class="row justify-content-center">
    <div class="col-md-2  mt-5">
      <img src="/assets/image/empty-mail.648a482b.svg" class="img-fluid" alt="">
  
  
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-8 ">
    <p class="text-center mt-3">You don't have any messages</p>
    <p class="text-center ">Here you will be able to see all the messages that we send you. Stay tuned</p>
         </div>
  
        </div>
  
