<div class="row  box p-4">
  <div class="col-4">

      <a  class="fs-6"> TELEVISION & VIDIO </a>


    <hr>
    <div class="list-group">
      <a href="">LED & LCD TVs</a>
      <a href="">Receiver</a>
      <a href="">Streaming Media Players</a>

  </div>
      <a  class="fs-6"> CAMERAS </a>


    <hr>
    <div class="list-group">
      <a href="">Digital Cameras</a>
      <a href="">Wearable & Action Cameras</a>


  </div>

  </div>


  <div class="col-4">

    <a class="fs-6">HOME AUDIO </a>
    <hr>
    <div class="list-group">
      <a href="">Home Theater System</a>
      <a href="">Speakers</a>
      <a href="">Portable Speakers & Docks</a>

  </div>
    <a class="fs-6">HEADPHONES </a>
    <hr>
    <div class="list-group">
      <a href="">Over-Ear Headphones</a>
      <a href="">On-Ear Headphones</a>

      <a href="">Earbud Headphones</a>

  </div>

  </div>


</div>





