
<div class="row  box p-3">
  <div class="col-3">

      <a  class="fs-6">  CARDIO TRAINING </a>


    <hr>
    <div class="list-group">
      <a href="">  Treadmills</a>
      <a href=""> Exercise Bike</a>
      <a href="">  Elliptical Trainers</a>


  </div>
      <a  class="fs-6"> STRENGTH TRAINING EQUIPMENT</a>
      <hr>
      <div class="list-group">
        <a href=""> Dumbbells</a>
        <a href="">  Bars</a>
        <a href="">  Core & Abdominal Trainers</a>


    </div>
  </div>



  <div class="col-4">

    <a class="fs-6">  ACCESSORIES</a>
    <hr>
    <div class="list-group">
      <a href="">
        Exercise Bands</a>
      <a href="">
        Jump Ropes</a>
      <a href="">
        Exercise Mats</a>


  </div>
    <a class="fs-6"> SPORTS & FITNESS </a>
    <hr>
    <div class="list-group">
      <a href="">Accessories</a>
      <a href="">Swimming</a>
      <a href="">Team Sports</a>

  </div>

  </div>
<div class="col-md-3">
  <a class="fs-6"> OUTDOOR & ADVENTURE</a>
  <hr>
  <div class="list-group">
    <a href="">Cycling</a>
    <a href="">Running</a>


</div>
</div>
</div>















