
  <h3>Recently Viewed</h3>
  <hr>
<div class="col-md-12" *ngIf="viewedItems.length===0">
  <div class="row justify-content-center">
    <div class="col-md-2  mt-5">
      <img src="assets/image/binoculars.389fc56a.svg" class="img-fluid" alt="">
  
  
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-8 ">
    <p class="text-center mt-3">No Recently Viewed Products</p>
    <p class="text-center ">You have no recently viewed products at the moment.</p>
    <div class="d-grid">
      <a class="btn btn-warning text-center" style="margin: auto;"  routerLink=""> Continue Shopping</a>
           </div>
         </div>
  
        </div>
</div>

<div class="col-md-12 px-2" *ngIf="viewedItems.length>0">
<div class=" card my-2 p-3" *ngFor="let product of viewedItems">
  <div class="d-flex justify-content-between align-items-center">
    <div class="mx-2">
      <img src={{product.imagePath}} height="70px" alt="">

    </div>
    <div class="detailes">
      <p>{{product.name}}</p>
      <p>EGP{{product.price-(product.price*product.sale/100)}}.00 </p>
     <span class="sale" style="text-decoration: line-through;">EGP{{product.price}}.00</span>
        <span class="text-warning p-1" style=" background-color: rgb(255, 243, 227);">- {{product.sale}}%</span>
    </div>
    <div class="mx-2 d-flex align-items-center">
      <button class="btn btn-warning  me-2" (click)="buy(product)">Buy Now</button>
      <a class="text-warning remove" (click)="remove(product)">
        Remove</a>
    </div>

  </div>
</div>
</div>
     
