
  <h3>Orders</h3>
  <hr>
  <div class="d-flex">
    <a class="mx-3 order active">Open Orders (0)</a>
    <a class="order">Closed Orders (0)</a>
  </div>
  <hr class="hr-1">
<div class="row justify-content-center">
  <div class="col-md-2  mt-5">
    <img src="assets/image/orders.669c73dc.svg" class="img-fluid" alt="">


  </div>
</div>
<div class="row justify-content-center ">
  <div class="col-md-8 ">
  <p class="text-center mt-3">You have placed no orders yet!</p>
  <p class="text-center ">All your orders will be saved here for you to access their state anytime.</p>
<div class="d-grid mb-5">
  <a class="btn btn-warning text-center" style="margin: auto;"  routerLink=""> Continue Shopping</a>
       </div>
       </div>

      </div>
