<div class="col-md-12 p-2">
  <h3>Orders</h3>
  <hr>
  <div class="d-flex">
    <a class="mx-3">Open Orders (0)</a>
    <a >Closed Orders (0)</a>
  </div>
  <hr>
<div class="row justify-content-center">
  <div class="col-md-2  mt-5">
    <img src="/assets/image/1734_7767dedd8c4888b23155e2409c34f444b96611f0_jumia-eg_m.png" height="70px" alt="">


  </div>
</div>
<div class="row justify-content-center ">
  <div class="col-md-8 ">
  <p class="text-center mt-3">You have placed no orders yet!</p>
  <p class="text-center ">All your orders will be saved here for you to access their state anytime.</p>
<div class="d-grid">
  <a class="btn btn-warning text-center" style="margin: auto;"  routerLink=""> Continue Shopping</a>
       </div>
       </div>

      </div>
