<h3>Account Overview</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        ACCOUNT DETAILS
      </div>
      <div class="card-body">
        <h5 class="card-title">{{fName}} {{lName}}</h5>
        <p class="card-text">{{email}}</p>
        <a href="#" class="btn btn-warning text-white">Change Password</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        ADDRESS BOOK
      </div>
      <div class="card-body">
        <h5 class="card-title">Your default shipping address:</h5>
        <p class="card-text">No default shipping address available.</p>
        <a href="#" class="btn btn-warning text-white">Add Default Address</a>
      </div>
    </div>
  </div>
</div>
<div class="row my-2">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        JUMIA PRIMO
      </div>
      <div class="card-body">
        <h5 class="card-title">JUMIA PRIMO</h5>
        <p class="card-text">Jumia Primo is a loyalty program which offers members free delivery on all Jumia Items (excluding Jumia Global) and Jumia Food orders, plus exclusive access to promotions & deals.</p>
        <a href="#" class="btn btn-warning text-white ">Subscribe Jumia Primo</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        JUMIA STORE CREDIT
      </div>
      <div class="card-body">
        <h5 class="card-title"> <i class="fas fa-wallet text-warning"></i>
          EGP 0.00</h5>

      </div>
    </div>
  </div>
</div>
