.one{
  width: 250px;
  height: 15px;
  border-bottom: 2px solid rgb(168, 166, 166);
}
.line{
  display: flex;
  justify-content: center;
}
.end a{
  text-decoration: none;
 margin-bottom: 50px;
  font-weight: bold;

}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
