<section>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row my-2">
        <div class="col-md-3 card px-0">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action "  routerLink="./overview" routerLinkActive="active" >
              <div class="d-flex w-100 ">
                <i class=" far fa-regular fa-user me-3" ></i>
                <h5 class="mb-1 fa-1x">My Jumia Account</h5>

              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="./order" routerLinkActive="active" >
              <div class="d-flex w-100 ">
                <i class="far fa-regular fa-store me-3"></i>
                <h5 class="mb-1 fa-1x">Orders</h5>

              </div>
            </a>
            <a  class="list-group-item list-group-item-action" routerLink="./inbox" routerLinkActive="active" >
              <div class="d-flex w-100 ">
                <i class="far fa-regular fa-envelope me-3"></i>
                <h5 class="mb-1 fa-1x">Inbox</h5>

              </div>
            </a>


            <a href="#" class="list-group-item list-group-item-action" routerLink="./save" routerLinkActive="active">
              <div class="d-flex w-100 ">
                <i class="far fa-heart me-3"></i>
                <h5 class="mb-1 fa-1x">Saved Items</h5>

              </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="./voucher" routerLinkActive="active">
              <div class="d-flex w-100 ">
                <i class="far fa-sun me-3"></i>
                <h5 class="mb-1 fa-1x">Vouchers</h5>

              </div>

            </a>

            <a href="#" class="list-group-item list-group-item-action"  routerLink="./view" routerLinkActive="active">
              <div class="d-flex w-100 ">
                <i class="far fa-wallet me-3"></i>
                <h5 class="mb-1 fa-1x">Recently Viewed</h5>

              </div>

            </a>
            <hr>
            <a routerLink="./edit-address" routerLinkActive="active" class="list-group-item list-group-item-action">
            Address Book
            </a>
            <a href="#" class="list-group-item list-group-item-action">
           Change Password
            </a>
            <hr>
            <button (click)="logOut()" class="btn text-warning">LOGOUT</button>
          </div>

        </div>


     <div class="col-md-8 mx-2 card px-0">

      <router-outlet></router-outlet>
     </div>
      </div>
    </div>
  </div>
</section>
